---
import Menu from "@/components/react/menu";
---

<div class="grid grid-cols-1">
    <div class="col-span-1">
        <div class="flex">
            <div class="shrink-0">
                <Menu client:load />
            </div>
            <div class="flex-grow ml-3">
                <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight">
                    <a href="/">Bitshares Astro NFT tool</a>
                </h1>
            </div>
        </div>
    </div>
</div>