---
import Layout from '../layouts/Layout.astro';
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";

import Header from "@/components/astro/header.astro";
import Footer from "@/components/astro/footer.astro";
import IssueAsset from "@/components/react/IssueAsset.tsx";
---

<Layout title="Bitshares Astro NFT Tool - Issue NFT">
	<main>
		<Header />
		<div class="grid grid-cols-1 mt-5">
			<div class="col-span-1">
				<Card>
					<CardHeader>
						<CardTitle>NFT Issuance form</CardTitle>
						<CardDescription>In order to trade/transfer an NFT, you must first issue it into existence.</CardDescription>
					</CardHeader>
					<CardContent>
						<IssueAsset client:only="react" />
					</CardContent>
				</Card>
			</div>
		</div>
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 900px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-height: 100%;
		height: 100%;
	}
</style>
